* {
	/* TODO: Pick a nice font */
	color: rgb(233, 233, 233);
}

body {
	margin: 0;
	padding: 0;
	background: rgb(36, 36, 36);
}

a {
	color: rgb(124, 124, 240);
}

/* The banner at the top and bottom of the page */
header,
footer {
	background-color: rgb(48, 48, 48);
	display: block;
	margin: 0;
	text-align: center;
	padding: 1em;
	height:min-content;
}

/* There are some properties that are inverted between the header and footer */
header {
	border-radius: 0em 0em 1.5em 1.5em;
	box-shadow: 1em 0em 1em black;
}
footer {
	border-radius: 1.5em 1.5em 0em 0em;
	box-shadow: -1em 0em 1em black;
}

/* I use these divs to create the border effect on the header and footer */
header div,
footer div{
	overflow:auto;
	margin:0px;
	background-color: rgb(82, 82, 82);
	box-shadow: inset 0px 0px 1em rgb(48, 48, 48);
	border-radius: 1em 1em 1em 1em;
}

/* The main body of the portfolio */
.portfolio-body {
	padding: 1em 5em;
	margin: 0;
	display: block;
}

/* the list element that contains all the entries */
.portfolio-list {
	display: block;
	text-decoration: none;
	padding: 0px;
}
.portfolio-list li {
	display: block;;
}

/* This is the anchor representing the portfolio option */
.portfolio-list li section a {
	display: block;
	height: 20em;
	width: 100%;
	position: relative;
	border-radius: 2em;
	overflow: hidden;
	cursor:pointer;
}

/* The picture is grayed out normally, and glows when hovered over */
.portfolio-list li section a img {
	display: block;
	width: 100%;
	filter: brightness(0.5);
	transition: 70ms;
}
.portfolio-list li section a:hover img {
	filter: brightness(1.0);
}

/* The header sits above the image and has a cool black gradient background */
.portfolio-list li section a h1 {
	position: absolute;
	display: block;
	margin: 0px;
	background-image: linear-gradient( rgb(0, 0, 0, 0), rgb(0, 0, 0, 1), rgb(0, 0, 0, 1));
	padding: 0.5em 2em;
	height: 2em;
	font-size: 1.5em;;
	left:0px;
	right:0px;
	bottom: 0px;
}